/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Bellerose Light:1.0";
    src: url("Bellerose.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}




/* Logo */

.Logocontainer{
    position: relative;
    display:flex;
  }

  .LogoSymbolContainer{
    height: 155px;
    width: 155px;
  }

  .LogoNameContainer{
    position: relative;
    height: 125px;
    width: 200px;;
    left: -27px
  }

  .LogoName{
    position: absolute;
    bottom:0;
  }


  #logoNameL, #logoNameR{
    font-family: "Bellerose Light:1.0";
    font-size: 2.1875em
  }

  #logoNameL{
    color: #27ace1
  }

  #logoNameR{
    color: #858689
  }


  .el{
    display:inline-block;
  }




