/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
  font-family:"Bellerose Light:1.0";
  src: url("Bellerose.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

/* Logo */
.Logocontainer{
  width: 100%;
  height: auto;
  padding:0vw;
}

.LogoSymbolContainer{
  position: relative;
  margin:0;
  padding:0;
  width:100%;
  height:auto;
}
.logoimg{
  width: 100%;
}

.logoName{
  position: absolute;
  margin:0;
  top: 70%;
  left:49%;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space:nowrap;
  width: 100%;
}

#logoNameL, #logoNameR{
  font-family: "Bellerose Light:1.0";
  margin:0;
  padding:0;
  font-size: 70px;
  /* font-size: 5.7vw; */
  object-fit: scale-down;

}

#logoNameL{
  margin:0;
  width: 100%;
  color: #a6c529
}

#logoNameR{
  margin:0;
  width: 100%;
  color: #858689
}

.el{
  display:inline-block;
}




