/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
  font-family:"Bellerose Light:1.0";
  src: url("Bellerose.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

/* Logo */
.NavLogocontainer{
  padding:0vw;
}

.NavLogoSymbolContainer{
  position: relative;

}


.NavlogoName{
  position: absolute;
  bottom: 0;
  left:99px;

}

#NavlogoNameL, #NavlogoNameR{
  font-family: "Bellerose Light:1.0";

  font-size: 54px;


}

#NavlogoNameL{

  color: #a6c529
}

#NavlogoNameR{

  color: #858689
}

.el{
  display:inline-block;
}




