

.phone, .email {
    padding: 5px 0px;
  }

i.fa-envelope-square, i.fa-phone-alt{
    padding-right: 10px
}

#contactCard h1{
    display: inline;
}

.header{
    border-bottom: 1px solid #88b0b7;

}


.el{
    display:inline-block;
  }

  /* .logoimg{
    position: absolute;
    bottom:0;
} */